<div class="wrapper">
  <div class="card section">
    <label for="number" class="card-header d-block h6">Number</label>
    <div class="card-body">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="number" class="form-control text-right" id="number" placeholder="0">
      </div>
    </div>
  </div>

  <div class="card section">
    <div class="card-header h6">Category</div>
    <div class="card-body">
      <div class="categories">
        <div class="btn-group btn-group-toggle btn-group-vertical w-100" data-toggle="buttons">
          <div *ngFor="let category of categories" class="btn-group w-100">
            <label class="btn btn-outline-info btn-block">
              <input [value]="category.name" type="radio" name="categories" autocomplete="off" (change)="chooseCategory($event)">{{ category.name | capitalize }}
            </label>
            <button type="button" class="btn btn-danger delete" (click)="unshiftCategory(category.name)()"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>

      <div class="new-category-form">
        <label for="add-category">Add new category</label>
        <div class="input-group">
          <input id="add-category" class="form-control" placeholder="Category name" (change)="addNewCategoryName($event)">
          <input type="color" class="form-control new-category-form__colorpicker" title="color" (change)="addNewCategoryColor($event)">
          <button type="button" (click)="pushNewCategory()" class="btn btn-success new-category-form__add-button">+</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card section">
    <div class="card-header h6">Date</div>
    <div class="card-body">
      <div class="input-group">
        <input (change)="setDay($event)" type="number" min="1"  class="form-control" placeholder="dd" title="Day" [value]="day || ''">
        <input (change)="setMonth($event)" type="number" min="1" max="12" class="form-control" placeholder="mm" title="Month" [value]="month || ''">
        <input (change)="setYear($event)" type="number" min="1900" [max]="now.getFullYear()" class="form-control" placeholder="yyyy" title="Year" [value]="year || ''">
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-outline-info" (click)="setToday()">Set today</button>
      </div>
    </div>
  </div>

  <div class="section d-flex flex-row">
    <div class="w-50 btn-container">
      <button type="button" class="btn btn-block btn-large btn-success" (click)="sendIncome()">{{ 'Income' | uppercase }}</button>
    </div>
    <div class="w-50 btn-container">
      <button type="button" class="btn btn-block btn-large btn-danger" (click)="sendCost()">{{ 'Cost' | uppercase }}</button>
    </div>
  </div>
</div>
